USE [master]
GO
/****** Object:  Database [AP3]    Script Date: 11/05/2026 09:41:32 ******/
CREATE DATABASE [AP3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AP3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AP3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AP3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AP3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AP3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AP3]
GO
/****** Object:  User [Romain]    Script Date: 11/05/2026 09:41:32 ******/
CREATE USER [Romain] FOR LOGIN [Romain] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Romain]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Romain]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Romain]
GO
/****** Object:  Table [dbo].[Tarifs]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarifs](
	[idAbonnement] [int] IDENTITY(1,1) NOT NULL,
	[prixTotal] [int] NULL,
	[nbMois] [int] NULL,
	[_Reduction] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[idAbonnement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adherents]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adherents](
	[IdAdherents] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](255) NULL,
	[Prenom] [varchar](50) NOT NULL,
	[AdresseMail] [varchar](50) NOT NULL,
	[NumeroTel] [varchar](14) NOT NULL,
	[Motdepasse] [varchar](200) NOT NULL,
	[idAbonnement] [int] NOT NULL,
	[Role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdherents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abonne]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abonne](
	[IdAbonne] [int] IDENTITY(1,1) NOT NULL,
	[DateAbonnement] [date] NULL,
	[DureeAbonnement] [int] NULL,
	[ParticipationEvenement] [bit] NULL,
	[IdAdherents] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAbonne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdAdherents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vue_Adherents_Abonnement]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vue_Adherents_Abonnement] AS
SELECT 
    a.IdAdherents,
    a.Nom,
    a.Prenom,
    a.AdresseMail,
    a.NumeroTel,
    a.Role,
    t.prixTotal AS PrixAbonnement,
    t.nbMois AS DureeAbonnement,
    t._Reduction AS Reduction,
    ab.DateAbonnement,
    ab.DureeAbonnement AS DureeAbonnementReelle,
    ab.ParticipationEvenement
FROM dbo.Adherents a
INNER JOIN dbo.Abonne ab
    ON a.IdAdherents = ab.IdAdherents
INNER JOIN dbo.Tarifs t
    ON a.idAbonnement = t.idAbonnement;
GO
/****** Object:  Table [dbo].[Participer]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participer](
	[IdAdherents] [int] NOT NULL,
	[idEvenement] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdherents] ASC,
	[idEvenement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vue_Adherents_Evenements]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vue_Adherents_Evenements] AS
SELECT 
    a.IdAdherents,
    a.Nom,
    a.Prenom,
    COUNT(p.idEvenement) AS NombreEvenements,
    STRING_AGG(CONVERT(varchar, p.idEvenement), ', ') AS ListeEvenements
FROM dbo.Adherents a
LEFT JOIN dbo.Participer p
    ON a.IdAdherents = p.IdAdherents
GROUP BY a.IdAdherents, a.Nom, a.Prenom;
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[IdAdherents_1] [int] NOT NULL,
	[Specialite] [varchar](50) NULL,
	[IdReunion] [int] NOT NULL,
	[IdAdherents] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdherents_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evenement]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evenement](
	[idEvenement] [int] IDENTITY(1,1) NOT NULL,
	[dateEvenement] [date] NULL,
	[duree] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEvenement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[idLog] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[date_log] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[idMessage] [int] IDENTITY(1,1) NOT NULL,
	[Sujet] [varchar](50) NULL,
	[Message] [varchar](500) NULL,
	[IdAdherents] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMessage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organiser]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organiser](
	[IdAdmin] [int] NOT NULL,
	[IdReunion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdmin] ASC,
	[IdReunion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reunion]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reunion](
	[IdReunion] [int] NOT NULL,
	[DateReunion] [date] NULL,
	[DureeReunion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReunion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdAdmin] [int] IDENTITY(1,1) NOT NULL,
	[ParticipationReunion] [bit] NULL,
	[IdAdherents] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdAdherents] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Abonne]  WITH CHECK ADD FOREIGN KEY([IdAdherents])
REFERENCES [dbo].[Adherents] ([IdAdherents])
GO
ALTER TABLE [dbo].[Adherents]  WITH CHECK ADD FOREIGN KEY([idAbonnement])
REFERENCES [dbo].[Tarifs] ([idAbonnement])
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([IdAdherents_1])
REFERENCES [dbo].[Adherents] ([IdAdherents])
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([IdAdherents])
REFERENCES [dbo].[Admin] ([IdAdherents_1])
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([IdReunion])
REFERENCES [dbo].[Reunion] ([IdReunion])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([IdAdherents])
REFERENCES [dbo].[Adherents] ([IdAdherents])
GO
ALTER TABLE [dbo].[Organiser]  WITH CHECK ADD FOREIGN KEY([IdAdmin])
REFERENCES [dbo].[Role] ([IdAdmin])
GO
ALTER TABLE [dbo].[Organiser]  WITH CHECK ADD FOREIGN KEY([IdReunion])
REFERENCES [dbo].[Reunion] ([IdReunion])
GO
ALTER TABLE [dbo].[Participer]  WITH CHECK ADD FOREIGN KEY([IdAdherents])
REFERENCES [dbo].[Adherents] ([IdAdherents])
GO
ALTER TABLE [dbo].[Participer]  WITH CHECK ADD FOREIGN KEY([idEvenement])
REFERENCES [dbo].[Evenement] ([idEvenement])
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD FOREIGN KEY([IdAdherents])
REFERENCES [dbo].[Adherents] ([IdAdherents])
GO
/****** Object:  StoredProcedure [dbo].[CreateAdherent]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateAdherent]
    @Nom           NVARCHAR(100),
    @Prenom        NVARCHAR(100),
    @AdresseMail   NVARCHAR(255),
    @NumeroTel     NVARCHAR(20),
    @Motdepasse    NVARCHAR(255),
    @idAbonnement  INT,
    @Role          NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [AP3].[dbo].[Adherents]
        ([Nom], [Prenom], [AdresseMail], [NumeroTel], [Motdepasse], [idAbonnement], [Role])
    VALUES
        (@Nom, @Prenom, @AdresseMail, @NumeroTel, @Motdepasse, @idAbonnement, @Role);
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllAdherents]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAdherents]

AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdAdherents, Nom, Prenom, AdresseMail, NumeroTel, Role , idAbonnement
    FROM Adherents
END;
GO
/****** Object:  StoredProcedure [dbo].[SupprAdherent]    Script Date: 11/05/2026 09:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE	 PROCEDURE [dbo].[SupprAdherent](@IdAdherent int)
AS
BEGIN
DELETE FROM Adherents
WHERE idAdherents = @IdAdherent
END;
GO
USE [master]
GO
